* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.game {
    text-align: center;
}
.map {
    width: 800px;
    height: 800px;
    border: solid black 1px;
}
.distance {
    padding-top: 20px;
    font-size: 30px;
}